{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if request.user.is_authenticated %}
    <div class="menu">
        <a href="{% url 'user_logout' %}">Logout</a>
        <a href="{% url 'user_change_pass' request.user.id %}">Change Password</a>
        <a href="{% url 'company_add' %}">New Contractors</a>
        <a href="{% url 'index' %}">Add Ratios</a>
        <a href="{% url 'task_add' %}">New Task</a>
        <a href="{% url 'trade_search' %}">Search Contractors</a>
        <br><br>
    </div>
        <h4>Welcome, {{ request.user }} </h4><br>
    <br>

  {% if company_all|length == 0 %}
      <h2>No contractors</h2>

  {% else %}
      <h4>Contractors {{ amount_of_company }}</h4><br>
      <ul>
          {% for company in company_all %}
          <li>
             <a href="{% url 'company_detail' company.id %}">{{ company }}</a><br>
              <a href="{% url 'company_edit' company.id %}">Edit</a>
              <a href="{% url 'company_delete' company.id %}">Delete</a>
          </li>
          {% endfor %}
      </ul>
  {% endif %}
    <br><br><br>
    {% if task_all|length == 0 %}
       <h3>No tasks</h3>
    {% else %}
      <ul><h4>Tasks: </h4><br>
          {% for task in task_all %}
          <li>
              <a href="{% url 'task_detail' task.id %}"> {{task.title}} Company:  {{ task.company }}</a><br>Date: {{ task.deadline }}
              <a href="{% url 'task_edit' task.id %}">Edit</a>
              <a href="{% url 'task_delete' task.id %}">Delete</a>
          </li>
          {% endfor %}
      </ul>
    {% endif %}



{% else %}
  <h2>{{ message }}</h2><br><br>
  <h3>If you have an account:</h3>
  <p><a href="{% url 'user_login' %}">Login</a></p>
  <br>
  <h3>If no:</h3>
  <p><a href="{% url 'user_add' %}">Register</a></p>
{% endif %}

{% endblock %}