<!doctype html>
{% load static %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Check company</title>
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
   <nav>
       <ul>
           <li><a href="{% url 'page_empty' %}">About us</a> </li>
           <li><a href="{% url 'page_empty' %}">Contact</a> </li>
           <li><a href="{% url 'page_empty' %}">Information </a> </li>
           <li><a href="{% url 'accounts' %}">My account</a> </li>
       </ul>
   </nav>
   <aside>
       <img id="banner" src="static/pictures/baner.jpg"  height="500" width="600">
   </aside>
   <section>
       <article>
           <div class="kolumna">
               <h2>Welcome to the financial metrics analysis page</h2><br><br>
               <h1><a href="{% url 'ratios_add' %}">Manual analysis</a></h1>
               <h1><a href="{% url 'file_add' %}">File analysis</a></h1><br><br><br><br>
           </div>
       </article>
   </section>
</body>
</html>