<style>
     td {
         padding: 30px 10px 10px 10px;
    }
</style>

{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form action="#" method="post">
    {% csrf_token %}
    <div>
        {{ form.company_name|as_crispy_field }}
    </div>
    <div class="row">
        <div class="col-3">
            {{ form.number_NIP|as_crispy_field }}
        </div>
        <div class="col-2">
            {{ form.year_results|as_crispy_field }}
        </div>
    </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ASSETS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.assets_fixed|as_crispy_field }}</td>
                        <td>{{ form.assets_current|as_crispy_field }}</td>
                        <td>{{ form.stock|as_crispy_field }}</td>
                        <td>{{ form.receivables_short_term|as_crispy_field }}</td>
                        <td>{{ form.receivables_trade|as_crispy_field }}</td>
                        <td>{{ form.receivables_tax|as_crispy_field }}</td>
                        <td>{{ form.investments_short_term|as_crispy_field }}</td>
                        <td>{{ form.assets_cash|as_crispy_field }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>LIABILITIES AND EQUITY</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.capital_share|as_crispy_field }}</td>
                        <td>{{ form.provision_and_accruals|as_crispy_field }}</td>
                        <td>{{ form.liabilities_long_therm|as_crispy_field }}</td>
                        <td>{{ form.liabilities_long_therm_financial|as_crispy_field }}</td>
                        <td>{{ form.liabilities_short_therm|as_crispy_field }}</td>
                        <td>{{ form.liabilities_short_therm_financial|as_crispy_field }}</td>
                        <td>{{ form.liabilities_trade|as_crispy_field }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>PROFIT AND LOSS ACCOUNT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.revenue|as_crispy_field }}</td>
                        <td>{{ form.profit_operating|as_crispy_field }}</td>
                        <td>{{ form.depreciation|as_crispy_field }}</td>
                        <td>{{ form.profit_gross|as_crispy_field }}</td>
                        <td>{{ form.tax_income|as_crispy_field }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    <input type="submit" value="Accept"/>
</form>

{% endblock %}