{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} {% endblock %}
{% block content %}

<form action="" method="post">
   {% csrf_token %}
   {{ form }}<br/>
   <input type="submit" value="Search"/>
</form>
<br><br>
Resolution<br/>
{% if company_all|length == 0 %}
   <h3>No resolution</h3>
{% else %}
   <ul>
   {% for company in company_all %}
      <li><a href="{% url 'company_detail' company.id %}"> {{company.trade.trade_name }} {{ company }}</a></li>
   {% endfor %}
   </ul>
{% endif %}

{% endblock %}